{% extends 'layouts/base.html' %}
{% block content %}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            {% include 'partials/househeader.html' %}
							<div class="row">
								<div class="col-md-4 text-center">
									<h4>Kitchen</h4>
									<input class="knob" data-angleoffset=-125 data-anglearc=250 data-fgcolor="#66EE66" data-knobid="1" value="35">
                                    <img src="/assets/img/bulb.png" class="bulb" />
								</div>
								<div class="col-md-4 text-center">
									<h4>Bathroom</h4>
									<input class="knob" data-angleoffset=-125 data-anglearc=250 data-fgcolor="#66EE66" data-knobid="2" value="35">
                                    <img src="/assets/img/bulb.png" class="bulb" />
								</div>
								<div class="col-md-4 text-center">
									<h4>Living room</h4>
									<input class="knob" data-angleoffset=-125 data-anglearc=250 data-fgcolor="#66EE66" data-knobid="3" value="35">
                                    <img src="/assets/img/bulb.png" class="bulb" />
								</div>
							</div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- END CONTENT -->
{% endblock %}