{% extends 'layouts/base.html' %}
{% block content %}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
    <div class="page-content">
    {% include 'partials/homeheader.html' %}
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-bolt"></i>
                </div>
                <div class="details">
                    <div class="number" id="consumption">
                        0.0
                    </div>
                    <div class="desc">
                        current consumption
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-gbp"></i>
                </div>
                <div class="details">
                    <div class="number" id="price">
                        0.0 £
                    </div>
                    <div class="desc">
                        costs for selected period
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-building-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        -23 %
                    </div>
                    <div class="desc">
                        below area average
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat yellow">
                <div class="visual">
                    <i class="fa fa-fire"></i>
                </div>
                <div class="details">
                    <div class="number" id="temperature">
                        0.0<sup>o</sup> C
                    </div>
                    <div class="desc">
                        Current temperature
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END DASHBOARD STATS -->
    <div class="clearfix">
    </div>
    <div class="row">
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet solid light-grey bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bar-chart-o"></i>Average usage per hour
                </div>
            </div>
            <div class="portlet-body">
                <div id="site_activities_loading">
                    <img src="assets/img/loading.gif" alt="loading"/>
                </div>
                <div id="site_activities_content" class="display-none">
                    <div id="site_activities" style="height: 100px;">
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
        <!-- BEGIN PORTLET-->
        <div class="portlet solid bordered light-grey">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bolt"></i>Live power usage
                </div>
            </div>
            <div class="portlet-body">
                <div id="load_statistics_loading">
                    <img src="assets/img/loading.gif" alt="loading"/>
                </div>
                <div id="load_statistics_content" class="display-none">
                    <div id="load_statistics" style="height: 108px;">
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
        <!-- BEGIN PORTLET -->
        <div class="portlet col-md-12 col-sm-12">
            <div class="portlet box purple">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-calendar"></i>General Stats
                    </div>
                    <div class="actions">
                        <a href="javascript:;" class="btn btn-sm yellow easy-pie-chart-reload">
                            <i class="fa fa-repeat"></i> Reload
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="easy-pie-chart">
                                <div class="number transactions" data-percent="55">
												<span>
													 +55
												</span>
                                    %
                                </div>
                                <a class="title" href="#">
                                    Transactions <i class="m-icon-swapright"></i>
                                </a>
                            </div>
                        </div>
                        <div class="margin-bottom-10 visible-sm">
                        </div>
                        <div class="col-md-4">
                            <div class="easy-pie-chart">
                                <div class="number visits" data-percent="85">
												<span>
													 +85
												</span>
                                    %
                                </div>
                                <a class="title" href="#">
                                    New Visits <i class="m-icon-swapright"></i>
                                </a>
                            </div>
                        </div>
                        <div class="margin-bottom-10 visible-sm">
                        </div>
                        <div class="col-md-4">
                            <div class="easy-pie-chart">
                                <div class="number bounce" data-percent="46">
												<span>
													 -46
												</span>
                                    %
                                </div>
                                <a class="title" href="#">
                                    Bounce <i class="m-icon-swapright"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET -->
    </div>
    <div class="col-md-6 col-sm-6">
    <!-- BEGIN PORTLET-->

    <div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-bell-o"></i>Notifications
        </div>
    </div>
    <div class="portlet-body">
    <div class="scroller" style="height: 100%;" data-always-visible="1" data-rail-visible="0">
    <ul class="feeds">
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-info">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        You have 4 pending tasks.
														<span class="label label-sm label-warning ">
															 Take action <i class="fa fa-share"></i>
														</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                Just now
            </div>
        </div>
    </li>
    <li>
        <a href="#">
            <div class="col1">
                <div class="cont">
                    <div class="cont-col1">
                        <div class="label label-sm label-success">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                    </div>
                    <div class="cont-col2">
                        <div class="desc">
                            Finance Report for year 2013 has been released.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="date">
                    20 mins
                </div>
            </div>
        </a>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-danger">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        You have 5 pending membership that requires a quick review.
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                24 mins
            </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-info">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        New order received with
														<span class="label label-sm label-success">
															 Reference Number: DR23923
														</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                30 mins
            </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        You have 5 pending membership that requires a quick review.
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                24 mins
            </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-default">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        Web server hardware needs to be upgraded.
														<span class="label label-sm label-default ">
															 Overdue
														</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                2 hours
            </div>
        </div>
    </li>
    <li>
        <a href="#">
            <div class="col1">
                <div class="cont">
                    <div class="cont-col1">
                        <div class="label label-sm label-default">
                            <i class="fa fa-briefcase"></i>
                        </div>
                    </div>
                    <div class="cont-col2">
                        <div class="desc">
                            IPO Report for year 2013 has been released.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="date">
                    20 mins
                </div>
            </div>
        </a>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-info">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        You have 4 pending tasks.
														<span class="label label-sm label-warning ">
															 Take action <i class="fa fa-share"></i>
														</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                Just now
            </div>
        </div>
    </li>
    <li>
        <a href="#">
            <div class="col1">
                <div class="cont">
                    <div class="cont-col1">
                        <div class="label label-sm label-danger">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                    </div>
                    <div class="cont-col2">
                        <div class="desc">
                            Finance Report for year 2013 has been released.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="date">
                    20 mins
                </div>
            </div>
        </a>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-default">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        You have 5 pending membership that requires a quick review.
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                24 mins
            </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-info">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        New order received with
														<span class="label label-sm label-success">
															 Reference Number: DR23923
														</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                30 mins
            </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-success">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        You have 5 pending membership that requires a quick review.
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                24 mins
            </div>
        </div>
    </li>
    <li>
        <div class="col1">
            <div class="cont">
                <div class="cont-col1">
                    <div class="label label-sm label-warning">
                        <i class="fa fa-bell-o"></i>
                    </div>
                </div>
                <div class="cont-col2">
                    <div class="desc">
                        Web server hardware needs to be upgraded.
														<span class="label label-sm label-default ">
															 Overdue
														</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="date">
                2 hours
            </div>
        </div>
    </li>
    <li>
        <a href="#">
            <div class="col1">
                <div class="cont">
                    <div class="cont-col1">
                        <div class="label label-sm label-info">
                            <i class="fa fa-briefcase"></i>
                        </div>
                    </div>
                    <div class="cont-col2">
                        <div class="desc">
                            IPO Report for year 2013 has been released.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="date">
                    20 mins
                </div>
            </div>
        </a>
    </li>
    </ul>
    </div>
    <div class="scroller-footer">
        <div class="pull-right">
            <a href="#">
                See All Records <i class="m-icon-swapright m-icon-gray"></i>
            </a>
            &nbsp;
        </div>
    </div>
    </div>
    </div>

    <!-- END PORTLET-->

    </div>
    <div class="clearfix"></div>
    </div>
    </div>
    </div>

    <!-- END CONTENT -->
{% endblock %}